@user-bg-blue: #00596f;
@user-col-white: #fff;
@user-bg-white: #fff;

@user-border-grey: #95989a;

@user-col-dark: #232323;
@user-col-blue: #0084a6;
@user-col-grey: #95989a;

.user {
  padding: 37px 84px 10px 38px;
  &--main {
    padding: 48px 24px 10px;

    background: url(/img/user/bg.png) 0 18px, linear-gradient(to bottom, @user-bg-blue 282px, @user-bg-white 282px);

    text-align: center;
  }
}

.user__info {
  position: relative;

  margin-bottom: 20px;

  font-size: 18px;
  line-height: 23px;
  color: @user-col-white;
}

.user__full-name {
  margin-bottom: 3px;

  font-size: 28px;
  line-height: 36px;
}

.user__role {
  //
}

.user__email {
  position: absolute;
  top: 7px;
  right: 0;
}

.user__address {
  margin-bottom: 28px;

  font-size: 18px;
  font-style: normal;
  line-height: 23px;
  color: @user-col-white;
  text-align: center;
}

.user__adress-city {
  display: block;
}

.user__photo {
  width: 200px;
  height: 200px;
  margin: 0 auto 23px;
  overflow: hidden;

  border: 1px solid @user-border-grey;
  border-radius: 50%;
  background: #ccc;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.user__exit {
  display: block;

  font-size: 22px;
  line-height: 24px;
  color: @user-col-dark;
  text-align: left;
  text-decoration: none;
  svg {
    display: inline-block;
    margin-right: 26px;

    vertical-align: middle;
  }
}

.user__exit-text {
  display: inline-block;

  vertical-align: middle;
}


// User profile
.user__profile {
  display: flex;

  justify-content: space-between;
}

//User profile info
.user__profile-info {
  width: 300px;
  padding: 0 20px;

  text-align: center;
}

.user__photo-choose {
  margin-bottom: 63px;

  font-size: 20px;
  line-height: 24px;
  color: @user-col-blue;
  input {
    display: none;
  }
}

.user__profile-email {
  line-height: 24px;
  color: @user-col-grey;
}

.user__profile-email-name {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
}

.user__profile-email-adress {
  display: block;

  font-size: 18px;
}

// User profile data
.user__profile-data {
  width: 590px;
}
