@btn-bg-blue: #00beee;
@btn-bg-blue-dark: #0084a6;
@btn-bg-white: #fff;
@btn-bg-grey: #d4d4d4;
@btn-col-white: #fff;
@btn-col-grey: #d4d4d4;
@btn-border: #eaeaea;
@btn-shadow: 0 3px 16px rgba(0,0,0,.16);

.btn {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 14px 10px;

  border: 0;
  outline: none;
  background: @btn-bg-blue-dark;

  font-size: 24px;
  line-height: 32px;
  color: @btn-col-white;
  text-align: center;
  text-decoration: none;

  transition: .3s;
  &:active {
    background: @btn-bg-blue;
  }
  &:disabled,
  &:active:disabled {
    background: @btn-bg-grey;

    color: @btn-col-white;
  }
  &--enter {
    max-width: 260px;
    margin-top: 83px;
  }
  &--password {
    max-width: 280px;
  }
  &--round {
    position: absolute;
    right: 85px;
    bottom: 60px;

    width: 84px;
    height: 84px;
    padding: 30px 0;

    border: 1px solid @btn-border;
    border-radius: 50%;
    box-shadow: @btn-shadow;

    font-size: 0;
    line-height: 22px;
  }
  &--save {
    padding: 17px 10px;

    font-size: 20px;
    line-height: 26px;
    &:disabled,
    &:active:disabled {
      background: @btn-bg-grey;
    }
  }
  &--fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
