.car {
  position: relative;

  min-height: 100%;
  padding: 30px 30px 0;

  transition: .5s;
  .blur & {
    filter: blur(4px);
  }
}

.car__global-info {
  display: flex;
  margin-bottom: 20px;
  padding: 0 6px;

  font-size: 28px;
  line-height: 36px;
  color: #232323;
  text-transform: uppercase;

  flex-wrap: wrap;
  align-items: center;
}

.car__position {
  margin-right: 30px;
}

.car__mark {
  margin-right: 23px;
}

.car__number {
  margin-right: 30px;
}

.car__color {
  width: 24px;
  height: 24px;
  margin-right: 40px;

  border-radius: 50%;
}

.car__history-link {
  position: relative;

  height: 36px;
  svg {
    position: absolute;
    top: 50%;
    left: 0;

    margin-top: -21px;
  }
}

.car__distance-info {
  display: flex;
  margin-bottom: 30px;
  padding: 0 6px;

  font-size: 18px;
  line-height: 23px;
  color: #9b9b9b;

  flex-wrap: wrap;
  align-items: baseline;
  span {
    margin-right: 4px;
    margin-left: 14px;
  }
}

.car__distance-total,
.car__distance-service {
  margin-right: 60px;
}

.car__distance-service-attention {
  display: inline-block;
  padding: 2px 5px;

  border-bottom: 1px solid #95989a;

  color: #0084a6;
  vertical-align: bottom;
}

.car__distance-different {
  margin-right: 40px;
}

.car__distance-notification {
  height: 28px;
  svg {
    display: block;
  }
}

.car__parts-list {
  margin: 0 -6px;
  padding: 5px 13px;

  border: 1px solid #979797;
  border-right: 0;
  border-left: 0;

  justify-content: space-between;
}

.car__parts-list-inner {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.car__parts-img {
  width: 110px;
  height: 110px;
  margin: 15px 30px 15px 0;
  border: 1px solid #95989a;
}

.car__btn {
  font-size: 20px;
}

// Car notification

.car__notification {
  padding: 28px 0 0;

  color: #232323;
}

.car__notification-title {
  margin: 0 0 22px;

  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.car__notification-item {
  margin-bottom: 30px;
}

.car__notification-info {
  margin-bottom: 22px;
}

.car__notification-user {
  font-size: 18px;
  line-height: 23px;
}

.car__notification-date {
  font-size: 14px;
  line-height: 19px;
  color: #9b9b9b;
}

.car__notification-descr {
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 20px;
  p {
    margin: 0 0 12px;
  }
}

.car__notification-link {
  color: #0084a6;
  text-decoration: none;
}

.car__notification-photo {
  display: none;
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
  &--open {
    display: block;
  }
}

// car history
.car__history-header {
  margin-bottom: 42px;

  text-align: center;
}

.car__history-date {
  margin-bottom: 6px;

  font-size: 18px;
  line-height: 23px;
  color: #9b9b9b;
}

.car__history-state {
  margin: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #232323;
}

// Car accordion

.car__accordion {
  padding: 20px;

  border-bottom: 1px solid #979797;
  &:last-of-type {
    margin-bottom: 11px;
  }
}

.car__accordion-header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.car__accordion-title {
  margin: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #0084a6;

  transition: .5s;
  .car__accordion--open & {
    color: #9b9b9b;
  }
}

.car__accordion-btn {
  padding: 0;

  border: 0;
  outline: none;
  background: none;

  transition: .5s;
  .car__accordion--open & {
    transform: rotate(180deg);
  }
  svg {
    display: block;

    transition: .5s;

    stroke: #0084a6;
    stroke-width: 2px;
    .car__accordion--open & {
      stroke: #9b9b9b;
    }
  }
}

.car__accordion-slide {
  display: none;
  margin-top: 32px;
  padding: 0 7px;
  .car__accordion--open & {
    display: block;
  }
}

.car__accordion-instruction {
  margin: 0 0 24px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #232323;
  text-align: center;
}


// Car photo list
.car__photo-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  li {
    width: 190px;
    height: 190px;

    border: 1px solid #95989a;
  }
  a {
    position: relative;

    display: block;
    height: 100%;
    overflow: hidden;
  }
  img {
    position: absolute;
    top: 50%;
    left: 50%;

    width: auto;
    height: 100%;
    max-width: none;

    transform: translate(-50%, -50%);
  }
}

// Car rating
.car__rating {
  display: flex;

  justify-content: center;
}

.car__rating-btn {
  position: relative;

  margin-right: 18px;
  padding: 0;

  border: 0;
  outline: none;
  background: none;
  &.active {
    svg {
      fill: #ff951d;
    }
    span {
      color: #fff;
    }
  }
  &:last-child {
    margin-right: 0;
  }
  svg {
    transition: .5s;

    fill: none;
    stroke: #ff951d;
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;

    font-size: 20px;
    line-height: 26px;
    color: #ff951d;

    transition: .5s;
    transform: translate(-50%, -50%);
  }
}
