@nav-border: #e7e7e7;
@nav-col: #9b9b9b;
@nav-col-active: #0084a6;

.menu {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  height: 100px;

  border: 1px solid @nav-border;

  color: @nav-col;
}

.menu__list {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 15px 0 14px;

  list-style: none;

  align-items: flex-end;
  justify-content: space-around;
}

.menu__item {
  height: 100%;

  font-size: 18px;
  line-height: 23px;

  transition: .5s;
  a {
    display: flex;
    height: 100%;
    flex-direction: column;

    color: inherit;
    text-align: center;
    text-decoration: none;

    align-items: center;
  }
  svg {
    display: block;
    margin-bottom: auto;

    transition: .5s;

    fill: @nav-col;
  }
  &--active {
    color: @nav-col-active;
    svg {
      fill: @nav-col-active;
    }
  }
}
