@header-bg: #000;
@header-col: #fff;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  display: flex;
  height: 64px;
  padding: 0 24px;

  background: @header-bg;

  align-items: center;
  .blur & {
    filter: blur(4px);
  }
}

.header__title {
  display: inline-block;
  margin: 0;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: @header-col;
  vertical-align: middle;
}

.header__back {
  display: inline-block;
  margin-right: 28px;
  padding: 4px;

  font-size: 0;
  vertical-align: middle;
}

.header__menu {
  margin-left: auto;
}

.header__menu-btn {
  padding: 4px;

  border: 0;
  background: none;
  svg {
    display: block;
  }
}

.header__menu-link {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;

  display: none;
  min-width: 291px;

  background: @header-bg;

  font-size: 20px;
  line-height: 26px;
  color: @header-col;
  a {
    display: block;
    padding: 30px 57px 30px 25px;

    color: inherit;
    text-decoration: none;
  }
  &--active {
    display: block;
  }
}

.header__menu-form {
  width: 462px;
}
