@color-block-border: #95989a;
@color-block-white: #fff;
@color-block-bg: #f5f5f5;
@color-block-grey: #9b9b9b;
@color-block-dark: #232323;

.color-block {
  margin-top: 40px;

  .border-bottom;
  .padding;
}

.color-block__title {
  margin-bottom: 6px;

  font-size: 20px;
  line-height: 26px;
  color: @color-block-grey;
}

.color-block__list {
  display: flex;
  margin-bottom: 11px;

  flex-wrap: wrap;
  align-items: center;
}

.color-block__label {
  margin-right: 20px;

  line-height: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.color-block__radio {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  &:checked + span {
    box-shadow: 0 0 0 7px #f5f5f5, 0 0 0 8px #d4d4d4;
  }
}

.color-block__btn {
  width: 50px;
  height: 50px;
  padding: 0;

  border: 1px solid @color-block-border;
  border-radius: 50%;
  background: @color-block-white;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);

  color: @color-block-border;
  text-align: center;
}

.color-block__descr {
  display: none;
  min-width: 177px;
  margin-bottom: 24px;
  padding: 9px 30px;

  border-radius: 27px;
  background: @color-block-bg;

  text-align: center;
  vertical-align: middle;
  &--active {
    display: inline-block;
  }
}

.color-block__name {
  margin-bottom: 3px;

  font-size: 16px;
  line-height: 20px;
  color: @color-block-dark;
}

.color-block__number {
  font-size: 14px;
  line-height: 19px;
  color: @color-block-grey;
  &::before {
    content: "(";
  }
  &::after {
    content: ")";
  }
}
