@authorization-title: #3d3d3d;
@authorization-descr: #9b9b9b;
@authorization-link: #0084a6;
@authorization-email-link: #3d3d3d;

.authorization {
  height: 100%;
  overflow-x: hidden;

  background: #fff url(/img/authorization/bg-part.jpg) 197px -164px;

  text-align: center;
}

.authorization__list {
  display: flex;
  width: 300%;
  height: 100%;

  transition: .5s;
  &--email {
    margin-left: -100%;
  }
  &--password {
    margin-left: -200%;
  }
}

.authorization__item {
  width: 33.333333%;
  padding: 174px 0 40px;

  flex-grow: 1;
  &--big {
    padding: 56px 0 40px;
  }
}

.authorization__logo {
  margin: 0 0 13px;
}

.authorization__title {
  margin: 0 0 24px;

  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: @authorization-title;
  &--big {
    margin: 0 0 26px;

    font-size: 28px;
    line-height: 36px;
  }
}

.authorization__descr {
  min-height: 52px;
  margin: 0 0 54px;

  font-size: 20px;
  line-height: 26px;
  color: @authorization-descr;
  &--big {
    min-height: 58px;
    margin: 0 0 28px;

    font-size: 22px;
    line-height: 29px;
  }
  p {
    margin: 0;
  }
}

.authorization__info {
  margin: 0;

  font-size: 22px;
  line-height: 29px;
  color: @authorization-descr;
}

.authorization__info--link {
  color: @authorization-link;
  text-decoration: none;
}

.authorization__email-send {
  font-weight: 700;
  color: @authorization-email-link;
}
