.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;

  display: none;
  padding: 45px 52px;

  background: rgba(0,0,0,.3);
  &--success {
    padding: 0;

    text-align: center;
  }
  &--active {
    display: block;
  }
}

.popup__inner {
  position: relative;

  height: 100%;

  border: 1px solid #95989a;
  background: #fff;
  .popup--success & {
    padding: 170px 240px 0;

    border: 0;
  }
}

.popup__close {
  position: absolute;
  top: -23px;
  right: -18px;
  z-index: 100;

  padding: 0;

  border: 0;
  background: none;
  svg {
    display: block;
  }
}

.popup__content {
  position: relative;

  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 50%;

    width: auto;
    height: 100%;
    max-width: none;

    transform: translateX(-50%);
  }
}

.popup__comment {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  padding: 12px;

  background: rgba(0,0,0,.31);

  color: #fff;
}

.popup__comment-date {
  margin-bottom: 8px;

  font-size: 14px;
  line-height: 19px;
}

.popup__comment-message {
  font-size: 18px;
  line-height: 23px;
  p {
    margin: 0;
  }
}

.popup__success-message {
  margin-bottom: 45px;

  font-size: 26px;
  line-height: 33px;
  color: #232323;
}

.popup__car-mark,
.popup__car-number {
  text-transform: uppercase;
}

.popup__success-recommendation {
  margin-bottom: 60px;

  font-size: 20px;
  line-height: 26px;
  color: #a7a7a7;
}

.popup__btn {
  max-width: 300px;

  font-size: 20px;
}
