@input-blue: #0084a6;
@input-grey: #9b9b9b;
@input-dark: #232323;
@input-red: #b92d00;
@input-white: #fff;
@input-border-grey: #95989a;

.form {
  &--short {
    max-width: 520px;
    margin-right: auto;
    margin-left: auto;
  }

  &--inspection {
    max-width: 510px;
    margin-right: auto;
    margin-left: auto;
  }

  &--only {
    margin-bottom: 102px;
  }
}

.form__label {
  position: relative;

  display: block;
  margin: 0 0 40px;

  font-size: 20px;
  line-height: 26px;

  & > svg {
    position: absolute;
    top: 12px;
    left: 10px;
  }

  &--password {
    & > svg {
      top: 4px;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }

  &--authorization {
    margin: 0 0 47px;
    &.form__label--only {
      margin: 0 0 85px;
    }
    &:last-of-type:not(.form__label--only) {
      margin: 0 0 14px;
    }
  }

  &--padding {
    .padding;
  }

  &--border {
    display: flex;
    margin-bottom: 20px;

    align-items: center;
    justify-content: space-between;
    .border-bottom;
  }

  &--30 {
    margin-bottom: 33px;
  }

  &--search {
    svg {
      right: 0;
      bottom: 8px;
      left: auto;
    }
  }

  &--flex {
    display: flex;

    font-size: 26px;
    line-height: 33px;

    align-items: center;
  }
}

.form__label-name {
  display: block;
  margin: 0 0 5px;

  color: @input-grey;

  .padding;

  .form__label--30 & {
    padding-right: 30px;
    padding-left: 30px;
  }

  .form__label--flex & {
    margin: 0 14px 0 0;
    padding: 0;
  }
}

.form__push-name {
  display: block;

  color: @input-grey;

  .padding(@bottom: 18px);
}

.form__input {
  width: 100%;

  border: 0;
  border-bottom: 1px solid @input-grey;
  outline: none;
  background: none;

  font-size: 20px;
  line-height: 26px;
  color: @input-dark;

  transition: .3s;

  .padding(@top: 10px, @bottom:10px);

  .form__label--30 & {
    padding-right: 30px;
    padding-left: 30px;
  }

  .form__label--search & {
    padding: 6px 30px 6px 6px;

    opacity: 0;
    border-bottom-color: @input-white;

    color: @input-white;
    text-transform: uppercase;

    &::placeholder {
      color: @input-white;
      text-transform: none;
    }

    &:focus {
      opacity: 1;
      border-bottom-color: @input-white;
      box-shadow: none;
      &::placeholder {
        color: @input-white;
      }
    }
  }

  .form__label--flex & {
    padding: 2px 16px;

    border-bottom-color: @input-border-grey;

    font-size: inherit;
    line-height: inherit;
  }

  &::placeholder {
    opacity: 1;

    color: @input-dark;

    transition: .3s;
  }

  &:focus:not(.form__input--error) {
    border-bottom-color: @input-blue;
    box-shadow: 0 1px 0 @input-blue;
    &::placeholder {
      color: @input-grey;
    }
  }

  &--authorization {
    padding: 9px 10px 9px 67px;

    color: @input-blue;
    &::placeholder {
      color: @input-blue;
    }
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--error {
    border-bottom-color: #b92d00;
    box-shadow: 0 1px 0 #b92d00;

    color: #3d3d3d;
  }
}

.form__message {
  display: flex;
  width: 100%;
  margin-top: 7px;

  font-size: 12px;
  line-height: 14px;
  color: #b92d00;

  align-items: center;
  justify-content: space-between;
}

.form__checkbox {
  display: none;
  &:checked {
    & ~ .form__checkbox-text--show {
      display: none;
    }
    & ~ .form__checkbox-text--hide {
      display: inline-block;
    }
    & ~ .form__checkbox-box {
      &::after,
      &::before {
        display: block;
      }
    }
  }
}

.form__push {
  display: none;
  &:checked {
    & ~ .form__push-icon {
      &::after {
        right: 17px;
      }
    }
  }
}

.form__push-icon {
  position: relative;

  display: block;
  width: 34px;
  height: 14px;

  border-radius: 7px;
  background: fade(#519388, 50%);

  font-size: 0;
  &::after {
    position: absolute;
    top: 50%;
    right: -3px;

    width: 20px;
    height: 20px;
    margin-top: -10px;

    border-radius: 50%;
    background: @input-blue;
    box-shadow: 0 2px 2px rgba(0,0,0,.24);

    content: "";
    transition: .3s;
  }
}

.form__checkbox-box {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 11px;

  border: 2px solid rgba(0,0,0,.54);
  border-radius: 3px;

  vertical-align: middle;
  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 5%;

    display: none;
    width: 90%;
    height: 2px;
    margin-top: -1px;

    background: rgba(0,0,0,.54);

    content: "";
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

.form__checkbox-text {
  display: inline-block;

  color: @input-dark;
  vertical-align: middle;
  &--hide {
    display: none;
  }
}

.form__field {
  &--right {
    padding-right: 15px;

    text-align: right;
  }
}

.form__forget-link {
  font-size: 20px;
  line-height: 26px;
  color: @input-grey;
  text-decoration: none;
}
