@cars-list-grey: #9b9b9b;
@cars-list-dark: #212121;
@cars-list-border: #979797;
@cars-color-border: #95989a;


.cars {
  position: relative;

  min-height: 100%;
  padding: 32px 23px 0;
}

.cars__list {
  display: table;
  width: 100%;
}

.cars__list-tr {
  display: table-row;

  color: inherit;
  text-decoration: none;
  & > div {
    display: table-cell;

    vertical-align: middle;
    &:nth-child(1) {
      width: 55px;
      padding-right: 6px;
      padding-left: 6px;
    }
    &:nth-child(2) {
      width: 214px;
    }
    &:nth-child(3) {
      width: 274px;
    }
    &:nth-child(4) {
      width: 70px;

      text-align: center;
    }
    &:nth-child(5) {
      padding-left: 7px;

      text-align: center;
    }
    &:nth-child(6) {
      width: 97px;

      text-align: center;
    }
  }
}

.cars__list-head {
  display: table-header-group;

  font-size: 16px;
  line-height: 20px;
  color: @cars-list-grey;
  text-align: left;
  .cars__list-tr {
    div {
      padding-bottom: 28px;
    }
  }
}

.cars__list-body {
  display: table-row-group;

  font-size: 20px;
  line-height: 26px;
  color: @cars-list-dark;
  text-transform: uppercase;
  .cars__list-tr {
    & > div {
      height: 73px;

      border-bottom: 1px solid @cars-list-border;
      &:nth-child(4) {
        font-size: 0;
        line-height: 10px;
      }
      &:nth-child(6) {
        line-height: 10px;
      }
    }
  }
}

.cars__color-round {
  display: inline-block;
  width: 24px;
  height: 24px;

  border: 1px solid @cars-color-border;
  border-radius: 50%;

  font-size: 0;
  vertical-align: middle;

  transition: .3s;
}
