@comment-icon-border: #f5f5f5;
@comment-icon-color: #fff;
@comment-icon-color: #fff;
@comment-icon-bg: #0084a6;

.comment-icon {
  position: relative;

  display: inline-block;

  vertical-align: middle;
  svg {
    display: inline-block;

    vertical-align: middle;
  }
}

.comment-icon__count {
  position: absolute;
  top: -13px;
  right: -13px;
  z-index: 10;

  display: flex;
  width: 28px;
  height: 28px;

  border: 1px solid @comment-icon-border;
  border-radius: 50%;
  background: @comment-icon-bg;

  font-family: sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: @comment-icon-color;

  align-items: center;
  justify-content: center;
  &:empty {
    display: none;
  }
}

.comment {
  position: absolute;
  top: 0;
  left: 100%;

  display: block;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0,.85);

  transition: .5s;
  &--active {
    left: 0;
  }
}

.comment__inner {
  padding-top: 196px;
  overflow: auto;
}

.comment__form {
  position: relative;

  width: 600px;
  margin: 0 auto;
}

.comment__form-label {
  display: block;
  span {
    display: block;
    margin-bottom: 42px;

    font-size: 24px;
    line-height: 32px;
    color: #fff;
    text-align: center;
  }
}

.comment__form-textarea {
  display: block;
  width: 100%;
  height: 255px;
  margin-bottom: 42px;
  padding: 20px;
  overflow: auto;

  border: 1px solid #95989a;
  border-radius: 4px;
  background: none;

  font-family: inherit;
  font-size: 24px;
  line-height: 32px;
  color: #fff;

  resize: none;
}

.comment__form-btn {
  max-width: 300px;

  font-size: 20px;
}

.comment__form-distance {
  position: absolute;
  top: -90px;
  left: 0;
  z-index: 10;

  display: flex;
  width: 100%;

  font-size: 18px;
  line-height: 23px;
  color: #a8a8a8;

  flex-wrap: wrap;
  align-items: center;
  span {
    margin-right: 13px;

    font-size: 22px;
    line-height: 29px;
  }
}

.comment__form-input {
  width: 84px;
  margin-right: 4px;
  padding: 0 17px;

  border: 0;
  border-bottom: #95989a 1px solid;
  outline: none;
  background: none;

  font-size: inherit;
  line-height: 22px;
  color: #fff;
  text-align: center;

  transition: .5s;
  &:focus {
    border-bottom-color: #0084a6;
    box-shadow: 0 1px 0 #0084a6;
  }
  &::placeholder {
    opacity: 1;

    color: #fff;
  }
}
