@settings-title-color: #9b9b9b;
@settings-title-color-black: #232323;
@settings-address-color: #95989a;


.settings {
  position: relative;

  min-height: 100%;
  padding: @padding;
}

.settings__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.settings__item {
  margin-bottom: 41px;
  &:last-child {
    margin-bottom: 0;
  }
}

.settings__title {
  margin: 0 0 2px;

  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: @settings-title-color;

  .padding;
  &--black {
    margin: 0 0 21px;

    color: @settings-title-color-black;
  }
}

.settings__item-link {
  display: block;

  font-size: 24px;
  line-height: 32px;

  .padding(@top: 19px, @bottom: 16px);
  .border-bottom;
}

.settings__address {
  margin: 0 0 25px;

  font-size: 20px;
  font-style: normal;
  line-height: 26px;
  color: @settings-address-color;

  .padding;
}

.settings__address-name,
.settings__address-street {
  display: inline-block;
  margin: 0 0 5px;

  vertical-align: middle;
}

.settings__adress-city {
  display: block;
  margin: 0 0 5px;
}

.settings__manager-list {
  width: 100%;
}

.settings__manager-item {
  height: 68px;

  .border-bottom;
}

.settings__manager-name {
  font-size: 24px;
  line-height: 32px;
  white-space: nowrap;

  .padding;
}

.settings__manager-email {
  width: 100%;
  padding: 0 12px;

  font-size: 20px;
  line-height: 26px;
}

.settings__manager-delete {
  .padding;
}

.settings__manager-btn {
  width: 40px;
  height: 40px;
  padding: 0;

  border: 0;
  background: none;

  font-size: 0;
  text-align: center;
  vertical-align: middle;
}

.setting__btn-delete {
  position: absolute;
  right: 85px;
  bottom: 60px;
}
