.camera {
  position: relative;

  height: 100%;
  padding: 66px 130px 0 80px;
  overflow: hidden;
}

.camera__title {
  position: relative;
  z-index: 80;

  margin: 0;

  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 20px #000;
}

.camera__settings {
  position: absolute;
  top: 0;
  z-index: 100;

  height: 100%;

  background: rgba(0,0,0,.7);

  text-align: center;
  .camera--comment & {
    background: transparent;
  }
  &--left {
    left: 0;

    width: 80px;
    padding-top: 58px;
  }
  &--right {
    right: 0;

    width: 130px;
  }
}

.camera__range-block {
  width: 32px;
  margin: 0 auto;
}

.camera__grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;

  width: 100%;
  height: 100%;

  pointer-events: none;
}

.camera__grid-vertical {
  position: absolute;
  top: 0;

  width: 1px;
  height: 100%;

  background: #95989a;
  &--1 {
    left: 347.5px;
  }
  &--2 {
    left: 637.5px;
  }
}

.camera__grid-horizontal {
  position: absolute;
  left: 0;

  width: 100%;
  height: 1px;

  background: #95989a;
  &--1 {
    top: 218px;
  }
  &--2 {
    top: 554px;
  }
}

.camera__photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;

  opacity: .5;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  &--on {
    display: block;
  }
}

.camera__photo-done {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow: auto;
  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: none;
  }
}

.camera__zoom-block {
  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -84px;
  margin-left: -24px;

  transition: .5s;
  .camera--comment & {
    transform: scale(0);
  }
}

.camera__zoom-name {
  display: block;
  margin-bottom: 32px;

  font-size: 18px;
  line-height: 23px;
  color: #fff;
  text-transform: uppercase;
}

// BTN

.camera__btn-photo-add {
  width: 100%;
  margin-bottom: 55px;
  padding: 0;

  border: 0;
  outline: none;
  background: none;

  font-size: 14px;
  line-height: 17px;
  color: #fff;
  svg {
    display: inline-block;
    margin-bottom: 12px;

    vertical-align: middle;
  }
  &--on {
    .icon-photo {
      display: none;
    }
  }
}

.camera__btn-range {
  width: 32px;
  height: 32px;
  padding: 0;

  border: 0;
  outline: none;
  background: none;

  line-height: 2px;
  text-align: center;
  svg {
    display: inline-block;

    vertical-align: middle;
  }
  &--plus {
    margin-bottom: 16px;
  }
}

.camera__btn-photo {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 76px;
  height: 76px;
  margin-top: -38px;
  margin-left: -38px;

  border: 8px solid #1d1d1d;
  border-radius: 50%;
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 1px #95989a;

  font-size: 0;
}

.camera__btn-flash {
  position: absolute;
  top: 62px;
  left: 50%;

  width: 42px;
  height: 42px;
  margin-left: -21px;
  padding: 0;

  border: 0;
  outline: none;
  background: none;

  text-align: center;
  svg {
    display: inline-block;

    vertical-align: middle;
  }
  &--on {
    .switch {
      display: none;
    }
  }
}

.camera__btn-setting-auto {
  position: absolute;
  bottom: 62px;
  left: 50%;

  width: 60px;
  height: 60px;
  margin-left: -30px;
  padding: 0;

  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  background: none;

  font-size: 14px;
  line-height: 56px;
  color: #fff;
}

.camera__btn {
  position: absolute;
  z-index: 10;

  width: 80px;
  height: 80px;
  padding: 0;

  border: 1px solid #9b9b9b;
  border-radius: 50%;
  outline: none;
  background: #fff;

  font-size: 0;
  text-align: center;
  text-decoration: none;

  transition: .5s;
  &--back {
    top: 58px;
    left: 24px;

    display: flex;

    align-items: center;
    justify-content: center;
    .camera--comment & {
      transform: scale(0);
    }
  }
  &--comment {
    top: 58px;
    left: 50%;

    margin-left: -40px;
    svg {
      margin-top: -3px;
      margin-left: 10px;
    }
    .camera--comment & {
      border-color: #0084a6;
      path {
        fill: #0084a6;
      }
    }
  }
  &--ok {
    bottom: 51px;
    left: 50%;

    margin-left: -40px;

    border: 0;
    .camera--comment & {
      transform: scale(0);
    }
  }
}

.camera__zoom-btn {
  position: relative;

  display: block;
  width: 48px;
  height: 48px;

  border: 0;
  border-radius: 50%;
  outline: none;
  background: #fff;

  font-size: 0;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 24px;
    height: 1px;
    margin-top: -.5px;
    margin-left: -12px;

    background: #9b9b9b;

    content: "";
  }
  &--plus {
    margin-bottom: 24px;
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;

      width: 1px;
      height: 24px;
      margin-top: -12px;
      margin-left: -.5px;

      background: #9b9b9b;

      content: "";
    }
  }
}
