.rangeslider,
.rangeslider__fill {
  display: block;
}

.rangeslider {
  position: relative;

  background: #95989a;
}

.rangeslider--vertical {
  width: 1px;
  height: 260px;
  margin: 0 auto 5px;
}

.rangeslider__fill {
  position: absolute;

  background: #95989a;
}

.rangeslider--vertical .rangeslider__fill {
  bottom: 0;

  width: 100%;
}

.rangeslider__handle {
  position: absolute;
  bottom: 0;

  width: 32px;
  height: 32px;
  margin-left: -16px;

  border: 1px solid #95989a;
  border-radius: 50%;
  outline: none;
  background: #fff;

  font-size: 12px;
  line-height: 30px;
  color: #95989a;
  text-align: center;
  &::after {
    content: "%";
  }
}


.rangeslider--vertical .rangeslider__handle {
      touch-action: pan-x;
  -ms-touch-action: pan-x;
}
