/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* START CARS */

.loader:not(.disabled) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    position:fixed;
    opacity: 0.6;
    background-color: white;
    z-index: 90;
    display: inline;
    opacity: 1; 
}

.loader.disabled {
    opacity: 0;
    transition: opacity 0.2s ease-out;
    /*display:none;*/
}

.loader img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-transform: none;
    line-height: 45px;
}

.cars.empty:not([data-empty=true]) {
    display: none;
}
.cars.empty[data-empty=true] .cars__list-body {;
    display: block;
    text-align: center; 
    vertical-align: central; 
    height: 90vh; 
    overflow: hidden; 
    position: relative
}

.cars.empty .central__empty {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-transform: none;
    line-height: 45px;
}

.cars:not(.empty) {
    display: block;
    opacity: 1; 
}
.cars:not(.empty)[data-empty=true] {
    display: none;
    transition: opacity 0.2s ease-out;
    opacity: 0; 
}

.example {
    display: none;
}

/* END CARS */
