html {
  font-family: sans-serif;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  margin: .67em 0;
  font-size: 2em;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  height: auto;
  max-width: 100%;
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0;
}
legend {
  padding: 0;
  border: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}
html {
  box-sizing: border-box;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
}
body {
  height: 100%;
  min-height: 100%;
  background: #fff;
  font: 1rem/1 "PTSans", "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
.body-header {
  padding-top: 52px;
}
.body-menu {
  padding-bottom: 100px;
}
.body-btn {
  padding-bottom: 60px;
}
.body-camera {
  /*background: url(/img/camera/car1.jpg) no-repeat 50% 50%;*/
    background: transparent;
}
.content {
  height: 100%;
  overflow-y: auto;
}
@font-face {
  font-family: "PTSans";
  font-weight: 400;
  src: url("../../fonts/ptsansregular/PT_SansWebRegular.eot");
  src: url("../../fonts/ptsansregular/PT_SansWebRegular.eot") format("embedded-opentype"), url("/fonts/ptsansregular/PT_SansWebRegular.woff2") format("woff2"), url("/fonts/ptsansregular/PT_SansWebRegular.woff") format("woff"), url("/fonts/ptsansregular/PT_SansWebRegular.ttf") format("truetype");
}
@font-face {
  font-family: "PTSans";
  font-weight: 400;
  font-style: italic;
  src: url("../../fonts/ptsansitalic/PT_SansWebItalic.eot");
  src: url("../../fonts/ptsansitalic/PT_SansWebItalic.eot") format("embedded-opentype"), url("/fonts/ptsansitalic/PT_SansWebItalic.woff2") format("woff2"), url("/fonts/ptsansitalic/PT_SansWebItalic.woff") format("woff"), url("/fonts/ptsansitalic/PT_SansWebItalic.ttf") format("truetype");
}
@font-face {
  font-family: "PTSans";
  font-weight: 700;
  src: url("../../fonts/ptsansbold/PT_SansWebBold.eot");
  src: url("../../fonts/ptsansbold/PT_SansWebBold.eot") format("embedded-opentype"), url("/fonts/ptsansbold/PT_SansWebBold.woff2") format("woff2"), url("/fonts/ptsansbold/PT_SansWebBold.woff") format("woff"), url("/fonts/ptsansbold/PT_SansWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "PTSans";
  font-weight: 700;
  font-style: italic;
  src: url("../../fonts/ptsansbolditalic/PT_SansWebBoldItalic.eot");
  src: url("../../fonts/ptsansbolditalic/PT_SansWebBoldItalic.eot") format("embedded-opentype"), url("/fonts/ptsansbolditalic/PT_SansWebBoldItalic.woff2") format("woff2"), url("/fonts/ptsansbolditalic/PT_SansWebBoldItalic.woff") format("woff"), url("/fonts/ptsansbolditalic/PT_SansWebBoldItalic.ttf") format("truetype");
}
.btn {
  display: block;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding: 14px 10px;
  border: 0;
  outline: none;
  background: #0084a6;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}
.btn:active {
  background: #00beee;
}
.btn:disabled,
.btn:active:disabled {
  background: #d4d4d4;
  color: #fff;
}
.btn--50 {
    width: 50%;
}
.btn--enter {
  max-width: 260px;
  margin-top: 23px;
}
.btn--password {
  max-width: 280px;
}
.btn--round {
  position: fixed;
  right: 55px;
  bottom: 120px;
  width: 84px;
  height: 84px;
  padding: 30px 0;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
  font-size: 0;
  line-height: 22px;
}
.btn--save {
  padding: 17px 10px;
  font-size: 20px;
  line-height: 26px;
}
.btn--save:disabled,
.btn--save:active:disabled {
  background: #d4d4d4;
}
.btn--fixed {
  position: fixed;
  bottom: 0;
  left: 0;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  display: -ms-flexbox;
  display: flex;
  height: 52px;
  padding: 0 24px;
  background: #000;
  -ms-flex-align: center;
      align-items: center;
}
.blur .header {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.header__title {
  display: inline-block;
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #fff;
  vertical-align: middle;
}
.header__back {
  display: inline-block;
  margin-right: 28px;
  padding: 4px;
  font-size: 0;
  vertical-align: middle;
}
.header__menu {
  margin-left: auto;
}
.header__menu-btn {
  padding: 4px;
  border: 0;
  background: none;
}
.header__menu-btn svg {
  display: block;
}
.header__menu-link {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 50;
  display: none;
  min-width: 291px;
  background: #000;
  font-size: 20px;
  line-height: 26px;
  color: #fff;
}
.header__menu-link a {
  display: block;
  padding: 30px 57px 30px 25px;
  color: inherit;
  text-decoration: none;
}
.header__menu-link--active {
  display: block;
}
.header__menu-form {
  width: 462px;
}
.menu {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  height: 100px;
  border: 1px solid #e7e7e7;
  color: #9b9b9b;
  background-color: white;
}
.menu__list {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 15px 0 14px;
  list-style: none;
  -ms-flex-align: end;
      align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.menu__item {
  height: 100%;
  font-size: 18px;
  line-height: 23px;
  transition: .5s;
}
.menu__item a {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  color: inherit;
  text-align: center;
  text-decoration: none;
  -ms-flex-align: center;
      align-items: center;
}
.menu__item svg {
  display: block;
  margin-bottom: auto;
  transition: .5s;
  fill: #9b9b9b;
}
.menu__item--active {
  color: #0084a6;
}
.menu__item--active svg {
  fill: #0084a6;
}
.form--short {
  max-width: 520px;
  margin-right: auto;
  margin-left: auto;
}
.form--inspection {
  max-width: 510px;
  margin-right: auto;
  margin-left: auto;
}
.form--only {
  margin-bottom: 102px;
}
.form__label {
  position: relative;
  display: block;
  margin: 0 0 40px;
  font-size: 20px;
  line-height: 26px;
}
.form__label > svg {
  position: absolute;
  top: 12px;
  left: 10px;
}
.form__label--password > svg {
  top: 4px;
}
.form__label:last-of-type {
  margin-bottom: 0;
}
.form__label--authorization {
  margin: 0 0 47px;
}
.form__label--authorization.form__label--only {
  margin: 0 0 85px;
}
.form__label--authorization:last-of-type:not(.form__label--only) {
  margin: 0 0 14px;
}
.form__label--padding {
  padding: 0 20px 0 20px;
}
.form__label--border {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  background: none;
  color: #232323;
  text-decoration: none;
}
.form__label--30 {
  margin-bottom: 33px;
}
.form__label--search svg {
  right: 0;
  bottom: 8px;
  left: auto;
}
.form__label--flex {
  display: -ms-flexbox;
  display: flex;
  font-size: 26px;
  line-height: 33px;
  -ms-flex-align: center;
      align-items: center;
}
.form__label-name {
  display: block;
  margin: 0 0 5px;
  color: #9b9b9b;
  padding: 0 20px 0 20px;
}
.form__label--30 .form__label-name {
  padding-right: 30px;
  padding-left: 30px;
}
.form__label--flex .form__label-name {
  margin: 0 14px 0 0;
  padding: 0;
}
.form__push-name {
  display: block;
  color: #9b9b9b;
  padding: 0 20px 18px 20px;
}
.form__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: none;
  background: none;
  font-size: 20px;
  line-height: 26px;
  color: #232323;
  transition: .3s;
  padding: 10px 20px 10px 20px;
}
.form__label--30 .form__input {
  padding-right: 30px;
  padding-left: 30px;
}
.form__label--search .form__input {
  padding: 6px 30px 6px 6px;
  opacity: 0;
  border-bottom-color: #fff;
  color: #fff;
  text-transform: uppercase;
}
.form__label--search .form__input::-webkit-input-placeholder {
  color: #fff;
  text-transform: none;
}
.form__label--search .form__input:-ms-input-placeholder {
  color: #fff;
  text-transform: none;
}
.form__label--search .form__input::placeholder {
  color: #fff;
  text-transform: none;
}
.form__label--search .form__input:focus {
  opacity: 1;
  border-bottom-color: #fff;
  box-shadow: none;
}
.form__label--search .form__input:focus::-webkit-input-placeholder {
  color: #fff;
}
.form__label--search .form__input:focus:-ms-input-placeholder {
  color: #fff;
}
.form__label--search .form__input:focus::placeholder {
  color: #fff;
}
.form__label--flex .form__input {
  padding: 2px 16px;
  border-bottom-color: #95989a;
  font-size: inherit;
  line-height: inherit;
}
.form__input::-webkit-input-placeholder {
  opacity: 1;
  color: #232323;
  transition: .3s;
}
.form__input:-ms-input-placeholder {
  opacity: 1;
  color: #232323;
  transition: .3s;
}
.form__input::placeholder {
  opacity: 1;
  color: #232323;
  transition: .3s;
}
.form__input:focus:not(.form__input--error) {
  border-bottom-color: #0084a6;
  box-shadow: 0 1px 0 #0084a6;
}
.form__input:focus:not(.form__input--error)::-webkit-input-placeholder {
  color: #9b9b9b;
}
.form__input:focus:not(.form__input--error):-ms-input-placeholder {
  color: #9b9b9b;
}
.form__input:focus:not(.form__input--error)::placeholder {
  color: #9b9b9b;
}
.form__input--authorization {
  padding: 9px 10px 9px 67px;
  color: #0084a6;
}
.form__input--authorization::-webkit-input-placeholder {
  color: #0084a6;
}
.form__input--authorization:-ms-input-placeholder {
  color: #0084a6;
}
.form__input--authorization::placeholder {
  color: #0084a6;
}
.form__input--uppercase {
  text-transform: uppercase;
}
.form__input--error {
  border-bottom-color: #b92d00;
  box-shadow: 0 1px 0 #b92d00;
  color: #3d3d3d;
}
.form__message {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 7px;
  font-size: 12px;
  line-height: 14px;
  color: #b92d00;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.form__checkbox {
  display: none;
}
.form__checkbox:checked ~ .form__checkbox-text--show {
  display: none;
}
.form__checkbox:checked ~ .form__checkbox-text--hide {
  display: inline-block;
}
.form__checkbox:checked ~ .form__checkbox-box::after,
.form__checkbox:checked ~ .form__checkbox-box::before {
  display: block;
}
.form__push {
  display: none;
}
.form__push:checked ~ .form__push-icon::after {
  right: 17px;
}
.form__push-icon {
  position: relative;
  display: block;
  width: 34px;
  height: 14px;
  border-radius: 7px;
  background: rgba(81, 147, 136, 0.5);
  font-size: 0;
}
.form__push-icon::after {
  position: absolute;
  top: 50%;
  right: -3px;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border-radius: 50%;
  background: #0084a6;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  content: "";
  transition: .3s;
}
.form__checkbox-box {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 11px;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 3px;
  vertical-align: middle;
}
.form__checkbox-box::after,
.form__checkbox-box::before {
  position: absolute;
  top: 50%;
  left: 5%;
  display: none;
  width: 90%;
  height: 2px;
  margin-top: -1px;
  background: rgba(0, 0, 0, 0.54);
  content: "";
}
.form__checkbox-box::before {
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}
.form__checkbox-box::after {
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}
.form__checkbox-text {
  display: inline-block;
  color: #232323;
  vertical-align: middle;
}
.form__checkbox-text--hide {
  display: none;
}
.form__field--right {
  padding-right: 15px;
  text-align: right;
}
.form__forget-link {
  font-size: 20px;
  line-height: 26px;
  color: #9b9b9b;
  text-decoration: none;
}
.authorization {
  height: 100%;
  overflow-x: hidden;
  background: #fff url(/img/authorization/bg-part.jpg) 197px -164px;
  text-align: center;
}
.authorization__list {
  display: -ms-flexbox;
  display: flex;
  width: 300%;
  height: 100%;
  transition: .5s;
}
.authorization__list--email {
  margin-left: -100%;
}
.authorization__list--password {
  margin-left: -200%;
}
.authorization__item {
  width: 33.333333%;
  padding: 174px 0 40px;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.authorization__item--big {
  padding: 26px 0 40px;
}
.authorization__logo {
  margin: 0 0 13px;
}
.authorization__title {
  margin: 0 0 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #3d3d3d;
}
.authorization__title--big {
  margin: 0 0 16px;
  font-size: 28px;
  line-height: 36px;
}
.authorization__descr {
  min-height: 52px;
  margin: 0 0 54px;
  font-size: 20px;
  line-height: 26px;
  color: #9b9b9b;
}
.authorization__descr--big {
  min-height: 58px;
  margin: 0 0 28px;
  font-size: 22px;
  line-height: 29px;
}
.authorization__descr p {
  margin: 0;
}
.authorization__info {
  margin: 0;
  font-size: 22px;
  line-height: 29px;
  color: #9b9b9b;
}
.authorization__info--link {
  color: #0084a6;
  text-decoration: none;
}
.authorization__email-send {
  font-weight: 700;
  color: #3d3d3d;
}
.settings {
  position: relative;
  min-height: 100%;
  padding: 53px 30px 150px 0;
}
.settings__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.settings__item {
  margin-bottom: 41px;
}
.settings__item:last-child {
  margin-bottom: 0;
}
.settings__title {
  margin: 0 0 2px;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #9b9b9b;
  padding: 0 20px 0 20px;
}
.settings__title--black {
  margin: 0 0 21px;
  color: #232323;
}
.settings__item-link {
  display: block;
  font-size: 24px;
  line-height: 32px;
  padding: 19px 20px 16px 20px;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  background: none;
  color: #232323;
  text-decoration: none;
}
.settings__address {
  margin: 0 0 25px;
  font-size: 20px;
  font-style: normal;
  line-height: 26px;
  color: #95989a;
  padding: 0 20px 0 20px;
}
.settings__address-name,
.settings__address-street {
  display: inline-block;
  margin: 0 0 5px;
  vertical-align: middle;
}
.settings__adress-city {
  display: block;
  margin: 0 0 5px;
}
.settings__manager-list {
  width: 100%;
}
.settings__manager-item {
  height: 68px;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  background: none;
  color: #232323;
  text-decoration: none;
}
.settings__manager-name {
  font-size: 24px;
  line-height: 32px;
  white-space: nowrap;
  padding: 0 20px 0 20px;
}
.settings__manager-email {
  width: 100%;
  padding: 0 12px;
  font-size: 20px;
  line-height: 26px;
}
.settings__manager-delete {
  padding: 0 20px 0 20px;
}
.settings__manager-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background: none;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
}
.setting__btn-delete {
  position: absolute;
  right: 85px;
  bottom: 60px;
}
.user {
  padding: 37px 84px 10px 38px;
}
.user--main {
  padding: 48px 24px 10px;
  background: url(/img/user/bg.png) 0 18px, linear-gradient(to bottom, #00596f 282px, #fff 282px);
  text-align: center;
}
.user__info {
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
}
.user__full-name {
  margin-bottom: 3px;
  font-size: 28px;
  line-height: 36px;
}
.user__email {
  position: absolute;
  top: 7px;
  right: 0;
}
.user__address {
  margin-bottom: 28px;
  font-size: 18px;
  font-style: normal;
  line-height: 23px;
  color: #fff;
  text-align: center;
}
.user__adress-city {
  display: block;
}
.user__photo {
  width: 200px;
  height: 200px;
  margin: 0 auto 23px;
  overflow: hidden;
  border: 1px solid #95989a;
  border-radius: 50%;
  background: #ccc;
}
.user__photo img {
  display: block;
  width: 100%;
  height: auto;
}
.user__exit {
  display: block;
  font-size: 22px;
  line-height: 24px;
  color: #232323;
  text-align: left;
  text-decoration: none;
}
.user__exit svg {
  display: inline-block;
  margin-right: 26px;
  vertical-align: middle;
}
.user__exit-text {
  display: inline-block;
  vertical-align: middle;
}
.user__profile {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.user__profile-info {
  width: 300px;
  padding: 0 20px;
  text-align: center;
}
.user__photo-choose {
  margin-bottom: 63px;
  font-size: 20px;
  line-height: 24px;
  color: #0084a6;
}
.user__photo-choose input {
  display: none;
}
.user__profile-email {
  line-height: 24px;
  color: #95989a;
}
.user__profile-email-name {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
}
.user__profile-email-adress {
  display: block;
  font-size: 18px;
}
.user__profile-data {
  width: 590px;
}
.notification__item {
  position: relative;
  padding: 42px 220px 38px 53px;
  border-bottom: 1px solid #9b9b9b;
  background: #f5f5f5;
}
.notification__info {
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 29px;
  color: #232323;
}
.notification__name {
  margin: 0 0 2px;
  font-size: inherit;
}
.notification__datetime {
  font-size: 18px;
  line-height: 23px;
  color: #95989a;
}
.notification__date {
  margin-right: 15px;
}
.notification__descr {
  font-size: 20px;
  line-height: 26px;
  color: #232323;
}
.notification__descr p {
  margin: 0 0 9px;
}
.notification__descr p:last-child {
  margin: 0;
}
.notification__car {
  color: #95989a;
}
.notification__link {
  color: #0084a6;
  text-decoration: none;
}
.notification__system-message {
  font-size: 18px;
}
.notification__saw {
  position: absolute;
  top: 40px;
  right: 24px;
  display: -ms-flexbox;
  display: flex;
  display: none;
  font-size: 22px;
  line-height: 30px;
  color: #95989a;
  -ms-flex-align: center;
      align-items: center;
}
.notification__saw svg {
  margin-left: 24px;
}
.notification__item--check .notification__saw {
  display: -ms-flexbox;
  display: flex;
}
.notification__user-photo {
  float: left;
  width: 62px;
  height: 62px;
  margin-right: 24px;
  overflow: hidden;
  border: 1px solid #95989a;
  border-radius: 50%;
}
.notification__user-photo img {
  display: block;
  width: 100%;
  height: auto;
}
.cars {
  position: relative;
  min-height: 100%;
  padding: 32px 23px 0;
}
.cars__list {
  display: table;
  width: 100%;
}
.cars__list-tr {
  display: table-row;
  color: inherit;
  text-decoration: none;
}
.cars__list-tr > div {
  display: table-cell;
  vertical-align: middle;
}
.cars__list-tr > div:nth-child(1) {
  width: 55px;
  padding-right: 6px;
  padding-left: 6px;
}
.cars__list-tr > div:nth-child(2) {
  width: 214px;
}
.cars__list-tr > div:nth-child(3) {
  /*width: 274px;*/
}
.cars__list-tr > div:nth-child(4) {
  width: 70px;
  text-align: center;
}
.cars__list-tr > div:nth-child(5) {
  padding-left: 7px;
  text-align: center;
}
.cars__list-tr > div:nth-child(6) {
  width: 97px;
  text-align: center;
}
.cars__list-head {
  display: table-header-group;
  font-size: 16px;
  line-height: 20px;
  color: #9b9b9b;
  text-align: left;
}
.cars__list-head .cars__list-tr div {
  padding-bottom: 28px;
}
.cars__list-body {
  display: table-row-group;
  font-size: 20px;
  line-height: 26px;
  color: #212121;
  text-transform: uppercase;
}
.cars__list-body .cars__list-tr > div {
  height: 73px;
  border-bottom: 1px solid #979797;
}
.cars__list-body .cars__list-tr > div:nth-child(4) {
  font-size: 0;
  line-height: 10px;
}
.cars__list-body .cars__list-tr > div:nth-child(6) {
  line-height: 10px;
}
.cars__color-round {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid #95989a;
  border-radius: 50%;
  font-size: 0;
  vertical-align: middle;
  transition: .3s;
}
.comment-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.comment-icon svg {
  display: inline-block;
  vertical-align: middle;
}
.comment-icon__count {
  position: absolute;
  top: -13px;
  right: -13px;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  background: #0084a6;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.comment-icon__count:empty {
  display: none;
}
.comment {
  position: absolute;
  top: 0;
  left: 100%;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  transition: .5s;
}
.comment--active {
  left: 0;
}
.comment__inner {
  padding-top: 146px;
  overflow: auto;
}
.comment__form {
  position: relative;
  width: 600px;
  margin: 0 auto;
}
.comment__form-label {
  display: block;
}
.comment__form-label span {
  display: block;
  margin-bottom: 42px;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  text-align: center;
}
.comment__form-textarea {
  display: block;
  width: 100%;
  height: 255px;
  margin-bottom: 42px;
  padding: 20px;
  overflow: auto;
  border: 1px solid #95989a;
  border-radius: 4px;
  background: none;
  font-family: inherit;
  font-size: 24px;
  line-height: 32px;
  color: #fff;
  resize: none;
}
.comment__form-btn {
  max-width: 300px;
  font-size: 20px;
}
.comment__form-distance {
  position: absolute;
  top: -90px;
  left: 0;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 18px;
  line-height: 23px;
  color: #a8a8a8;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}
.comment__form-distance span {
  margin-right: 13px;
  font-size: 22px;
  line-height: 29px;
}
.comment__form-input {
  width: 144px;
  margin-right: 4px;
  padding: 0 17px;
  border: 0;
  border-bottom: #95989a 1px solid;
  outline: none;
  background: none;
  font-size: inherit;
  line-height: 22px;
  color: #fff;
  text-align: center;
  transition: .5s;
}
.comment__form-input:focus {
  border-bottom-color: #0084a6;
  box-shadow: 0 1px 0 #0084a6;
}
.comment__form-input::-webkit-input-placeholder {
  opacity: 1;
  color: #fff;
}
.comment__form-input:-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}
.comment__form-input::placeholder {
  opacity: 1;
  color: #fff;
}
.color-block {
  margin-top: 40px;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  background: none;
  color: #232323;
  text-decoration: none;
  padding: 0 20px 0 20px;
}
.color-block__title {
  margin-bottom: 6px;
  font-size: 20px;
  line-height: 26px;
  color: #9b9b9b;
}
.color-block__list {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}
.color-block__label {
  margin-right: 20px;
  line-height: 10px;
}
.color-block__label:last-child {
  margin-right: 0;
}
.color-block__radio {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.color-block__radio:checked + span {
  box-shadow: 0 0 0 7px #f5f5f5, 0 0 0 8px #d4d4d4;
}
.color-block__btn {
  width: 50px;
  height: 50px;
  padding: 0;
  border: 1px solid #95989a;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #95989a;
  text-align: center;
}
.color-block__descr {
  display: none;
  min-width: 177px;
  margin-bottom: 24px;
  padding: 9px 30px;
  border-radius: 27px;
  background: #f5f5f5;
  text-align: center;
  vertical-align: middle;
}
.color-block__descr--active {
  display: inline-block;
}
.color-block__name {
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 20px;
  color: #232323;
}
.color-block__number {
  font-size: 14px;
  line-height: 19px;
  color: #9b9b9b;
}
.color-block__number::before {
  content: "(";
}
.color-block__number::after {
  content: ")";
}
.car {
  position: relative;
  min-height: 100%;
  padding: 30px 30px 0;
  padding-bottom: 40px;
  transition: .5s;
}
.blur .car {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}
.car__global-info {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 0 6px;
  font-size: 28px;
  line-height: 36px;
  color: #232323;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
}
.car__position {
  margin-right: 30px;
}
.car__mark {
  margin-right: 23px;
}
.car__number {
  margin-right: 30px;
}
.car__color {
  width: 24px;
  height: 24px;
  margin-right: 40px;
  border-radius: 50%;
}
.car__history-link {
  position: relative;
  height: 36px;
}
.car__history-link svg {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -21px;
}
.car__distance-info {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding: 0 6px;
  font-size: 18px;
  line-height: 23px;
  color: #9b9b9b;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: baseline;
      align-items: baseline;
}
.car__distance-info span {
  margin-right: 4px;
  margin-left: 14px;
}
.car__distance-total,
.car__distance-service {
  margin-right: 60px;
}
.car__distance-service-attention {
  display: inline-block;
  padding: 2px 5px;
  border-bottom: 1px solid #95989a;
  color: #0084a6;
  vertical-align: bottom;
}
.car__distance-different {
  margin-right: 40px;
}
.car__distance-notification {
  height: 28px;
}
.car__distance-notification svg {
  display: block;
}
.car__parts-list {
  margin: 0 -6px;
  padding: 5px 13px;
  border: 1px solid #979797;
  border-right: 0;
  border-left: 0;
  overflow: hidden;
}

.car__parts-list-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-right: -30px;
}
.car__parts-img {
  width: 110px;
  height: 110px;
  margin: 15px 30px 15px 0;
  border: 1px solid #95989a;
}
.car__btn {
  font-size: 20px;
}
.car__notification {
  padding: 28px 0 0;
  color: #232323;
}
.car__notification-title {
  margin: 0 0 22px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}
.car__notification-item {
  margin-bottom: 30px;
}
.car__notification-info {
  margin-bottom: 22px;
}
.car__notification-user {
  font-size: 18px;
  line-height: 23px;
}
.car__notification-date {
  font-size: 14px;
  line-height: 19px;
  color: #9b9b9b;
}
.car__notification-descr {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 20px;
}
.car__notification-descr p {
  margin: 0 0 12px;
}
.car__notification-link {
  color: #0084a6;
  text-decoration: none;
}
.car__notification-photo {
  display: none;
}
.car__notification-photo img {
  display: block;
  height: auto;
  max-width: 100%;
}
.car__notification-photo--open {
  display: block;
}
.car__history-header {
  margin-bottom: 42px;
  text-align: center;
}
.car__history-date {
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 23px;
  color: #9b9b9b;
}
.car__history-state {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #232323;
}
.car__accordion {
  padding: 20px;
  border-bottom: 1px solid #979797;
}
.car__accordion:last-of-type {
  margin-bottom: 11px;
}
.car__accordion-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.car__accordion-title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #0084a6;
  transition: .5s;
}
.car__accordion--open .car__accordion-title {
  color: #9b9b9b;
}
.car__accordion-btn {
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  transition: .5s;
}
.car__accordion--open .car__accordion-btn {
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}
.car__accordion-btn svg {
  display: block;
  transition: .5s;
  stroke: #0084a6;
  stroke-width: 2px;
}
.car__accordion--open .car__accordion-btn svg {
  stroke: #9b9b9b;
}
.car__accordion-slide {
  display: none;
  margin-top: 32px;
  padding: 0 7px;
}
.car__accordion--open .car__accordion-slide {
  display: block;
}
.car__accordion-instruction {
  margin: 0 0 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: #232323;
  text-align: center;
}
.car__photo-list {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.car__photo-list li {
  width: 190px;
  height: 190px;
  border: 1px solid #95989a;
}
.car__photo-list a {
  position: relative;
  display: block;
  height: 100%;
  overflow: hidden;
}
.car__photo-list img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  max-width: none;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
.car__rating {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.car__rating-btn {
  position: relative;
  margin-right: 18px;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
}
.car__rating-btn.active svg {
  fill: #ff951d;
}
.car__rating-btn.active span {
  color: #fff;
}
.car__rating-btn:last-child {
  margin-right: 0;
}
.car__rating-btn svg {
  transition: .5s;
  fill: none;
  stroke: #ff951d;
}
.car__rating-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  font-size: 20px;
  line-height: 26px;
  color: #ff951d;
  transition: .5s;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}
.car-inspection {
  position: relative;
  min-height: 100%;
  padding: 28px 30px 0;
  text-align: center;
}
.car-inspection__driver {
  margin-top: 73px;
}
.car-inspection__title {
  margin: 0 0 14px;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  color: #232323;
}
.car-inspection__descr {
  margin-top: 19px;
  margin-bottom: 82px;
  font-size: 20px;
  line-height: 26px;
  color: #9b9b9b;
}
.car-inspection__descr p {
  margin: 0;
}
.car-inspection__complect-descr {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 23px;
  color: #232323;
}
.car-inspection__complect-descr p {
  margin: 0;
}
.car-inspection__count {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 23px;
  color: #9b9b9b;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.car-inspection__count--small {
  margin-bottom: 13px;
}
.car-inspection__photo {
  position: relative;
  display: block;
  width: 700px;
  margin: 0 auto;
  border: 1px solid #95989a;
  color: #232323;
  text-align: center;
  text-decoration: none;
}
.car-inspection__photo--link {
  height: 360px;
  padding-top: 66px;
  background: url(/img/camera/icon-camera.svg) no-repeat 50% 50%;
  background-size: 432px auto;
  font-size: 26px;
  line-height: 33px;
}
.car-inspection__photo--link-small {
  width: 430px;
  height: 180px;
  margin-bottom: 87px ;
  background-size: auto 187px;
  font-size: 18px;
  line-height: 23px;
}
.car-inspection__photo img {
  display: block;
  width: 100%;
  height: auto;
}
.car-inspection__nophoto {
  margin-bottom: 45px;
  font-size: 20px;
  line-height: 26px;
}
.car-inspection__comment {
  position: absolute;
  right: 1px;
  bottom: 0;
  left: 1px;
  padding: 12px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.31);
  color: #fff;
  text-align: left;
}
.car-inspection__comment-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: -10px;
  background-repeat: no-repeat;
  background-position: left 10px bottom 10px;
  -webkit-filter: blur(8px);
          filter: blur(8px);
}
.car-inspection__comment-date {
  position: relative;
  z-index: 10;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 19px;
}
.car-inspection__comment-date time {
  font-style: normal;
}
.car-inspection__comment-message {
  position: relative;
  z-index: 10;
  font-size: 18px;
  line-height: 23px;
}
.car-inspection__comment-message p {
  margin: 0;
}
.car-inspection__form {
  margin-left: 275px;
}
.car-inspection__complection {
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
.car-inspection__left {
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 10px;
  border-right: 1px solid #95989a;
}
.car-inspection__right {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
}
.car-inspection__label {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 26px;
  color: #95989a;
}
.car-inspection__label:last-child {
  margin-bottom: 0;
}
.car-inspection__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
.car-inspection__input:checked + span {
  color: #0084a6;
  transition: .5s;
}
.car-inspection__photo-list {
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}
.car-inspection__photo-list li {
  position: relative;
  width: 185px;
  height: 95px;
  margin-right: 40px;
  margin-bottom: 23px;
  overflow: hidden;
  border: 1px solid #95989a;
}
.car-inspection__photo-list li:nth-child(4n) {
  margin-right: 0;
}
.car-inspection__photo-list img {
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
}
.car-inspection__photo-list a {
  display: block;
  color: inherit;
  text-decoration: none;
}
.car-inspection__photo-date {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 6px 5px 7px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
/*! jQuery UI - v1.12.1 - 2017-02-24
* http://jqueryui.com
* Includes: core.css, autocomplete.css, menu.css
* Copyright jQuery Foundation and other contributors; Licensed MIT */
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.3;
  text-decoration: none;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  display: table;
  border-collapse: collapse;
  content: "";
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  /* support: IE8 */
}
.ui-front {
  z-index: 10000;
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}
/* Icons
----------------------------------*/
.ui-icon {
  position: relative;
  display: inline-block;
  margin-top: -0.25em;
  overflow: hidden;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-indent: -99999px;
}
.ui-widget-icon-block {
  left: 50%;
  display: block;
  margin-left: -8px;
}
/* Misc visuals
----------------------------------*/
/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 180px;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: default;
}
.ui-menu {
  display: block;
  margin: 0;
  padding: 23px 15px;
  border: 0;
  outline: 0;
  background: #232323;
  color: #fff;
  list-style: none;
}
.ui-menu .ui-menu {
  position: absolute;
}
.ui-menu .ui-menu-item {
  margin: 0 0 12px;
  font-size: 22px;
  line-height: 29px;
  /* support: IE10, see #8844 */
  /* list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"); */
  cursor: pointer;
  transition: .5s;
}
.ui-menu .ui-menu-item:hover {
  background: #333;
}
.ui-menu .ui-menu-item:last-child {
  margin: 0;
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
}
.ui-menu .ui-menu-divider {
  height: 0;
  margin: 5px 0;
  border-width: 1px 0 0 0;
  font-size: 0;
  line-height: 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  background: #333;
}
/* icon support */
.ui-menu-icons {
  position: relative;
}
.ui-menu-icons .ui-menu-item-wrapper {
  padding-left: 2em;
}
/* left-aligned */
.ui-menu .ui-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: .2em;
  margin: auto 0;
}
/* right-aligned */
.ui-menu .ui-menu-icon {
  right: 0;
  left: auto;
}
/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
  display: none;
}
.ui-helper-hidden-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.3;
  text-decoration: none;
  list-style: none;
}
.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
  display: table;
  border-collapse: collapse;
  content: "";
}
.ui-helper-clearfix:after {
  clear: both;
}
.ui-helper-zfix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  /* support: IE8 */
}
.ui-front {
  z-index: 10000;
}
/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
  cursor: default !important;
  pointer-events: none;
}
/* Icons
----------------------------------*/
.ui-icon {
  position: relative;
  display: inline-block;
  margin-top: -0.25em;
  overflow: hidden;
  background-repeat: no-repeat;
  vertical-align: middle;
  text-indent: -99999px;
}
.ui-widget-icon-block {
  left: 50%;
  display: block;
  margin-left: -8px;
}
/* Misc visuals
----------------------------------*/
@media (max-width: 767px) {
  .ui-autocomplete {
    max-width: 100%;
    max-height: 200px;
  }
}
.camera {
  position: relative;
  height: 100%;
  padding: 66px 130px 0 80px;
  overflow: hidden;
}
.camera__title {
  position: relative;
  z-index: 80;
  margin: 0;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 20px #000;
}
.camera__settings {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.camera--comment .camera__settings {
  background: transparent;
}
.camera__settings--left {
  left: 0;
  width: 80px;
  padding-top: 58px;
}
.camera__settings--right {
  right: 0;
  width: 130px;
}
.camera__range-block {
  width: 32px;
  margin: 0 auto;
}
.camera__grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.camera__grid-vertical {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  background: #95989a;
}
.camera__grid-vertical--1 {
  left: 25%;
}
.camera__grid-vertical--2 {
  left: 75%;
}
.camera__grid-horizontal {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #95989a;
}
.camera__grid-horizontal--1 {
  top: 25%;
}
.camera__grid-horizontal--2 {
  top: 75%;
}
.camera__photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: .5;
}
.camera__photo img {
  display: block;
  width: 100%;
  height: auto;
}
.camera__photo--on {
  display: block;
}
.camera__photo-done {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
.camera__photo-done img {
  display: block;
  width: 100%;
  height: auto;
  max-width: none;
}
.camera__zoom-block {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -84px;
  margin-left: -24px;
  transition: .5s;
}
.camera--comment .camera__zoom-block {
  -ms-transform: scale(0);
      transform: scale(0);
}
.camera__zoom-name {
  display: block;
  margin-bottom: 32px;
  font-size: 18px;
  line-height: 23px;
  color: #fff;
  text-transform: uppercase;
}
.camera__btn-photo-add {
  width: 100%;
  margin-bottom: 55px;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
}
.camera__btn-photo-add svg {
  display: inline-block;
  margin-bottom: 12px;
  vertical-align: middle;
}
.camera__btn-photo-add--on .icon-photo {
  display: none;
}
.camera__btn-range {
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  line-height: 2px;
  text-align: center;
}
.camera__btn-range svg {
  display: inline-block;
  vertical-align: middle;
}
.camera__btn-range--plus {
  margin-bottom: 16px;
}
.camera__btn-photo {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 76px;
  height: 76px;
  margin-top: -38px;
  margin-left: -38px;
  border: 8px solid #1d1d1d;
  border-radius: 50%;
  outline: none;
  background: #fff;
  box-shadow: inset 0 0 0 1px #95989a;
  font-size: 0;
}
.camera__btn-flash {
  position: absolute;
  top: 62px;
  left: 50%;
  width: 42px;
  height: 42px;
  margin-left: -21px;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  text-align: center;
}
.camera__btn-flash svg {
  display: inline-block;
  vertical-align: middle;
}
.camera__btn-flash--on .switch {
  display: none;
}
.camera__btn-setting-auto {
  position: absolute;
  bottom: 62px;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-left: -30px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  outline: none;
  background: none;
  font-size: 14px;
  line-height: 56px;
  color: #fff;
}
.camera__btn {
  position: absolute;
  z-index: 10;
  width: 80px;
  height: 80px;
  padding: 0;
  border: 1px solid #9b9b9b;
  border-radius: 50%;
  outline: none;
  background: #fff;
  font-size: 0;
  text-align: center;
  text-decoration: none;
  transition: .5s;
}
.camera__btn--back {
  top: 58px;
  left: 24px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.camera--comment .camera__btn--back {
  -ms-transform: scale(0);
      transform: scale(0);
}
.camera__btn--comment {
  top: 58px;
  left: 50%;
  margin-left: -40px;
}
.camera__btn--comment svg {
  margin-top: -3px;
  margin-left: 10px;
}
.camera--comment .camera__btn--comment {
  border-color: #0084a6;
}
.camera--comment .camera__btn--comment path {
  fill: #0084a6;
}
.camera__btn--ok {
  bottom: 51px;
  left: 50%;
  margin-left: -40px;
  border: 0;
}
.camera--comment .camera__btn--ok {
  -ms-transform: scale(0);
      transform: scale(0);
}
.camera__zoom-btn {
  position: relative;
  display: block;
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 50%;
  outline: none;
  background: #fff;
  font-size: 0;
}
.camera__zoom-btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 1px;
  margin-top: -0.5px;
  margin-left: -12px;
  background: #9b9b9b;
  content: "";
}
.camera__zoom-btn--plus {
  margin-bottom: 24px;
}
.camera__zoom-btn--plus::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 24px;
  margin-top: -12px;
  margin-left: -0.5px;
  background: #9b9b9b;
  content: "";
}
.rangeslider,
.rangeslider__fill {
  display: block;
}
.rangeslider {
  position: relative;
  background: #95989a;
}
.rangeslider--vertical {
  width: 1px;
  height: 260px;
  margin: 0 auto 5px;
}
.rangeslider__fill {
  position: absolute;
  background: #95989a;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}
.rangeslider__handle {
  position: absolute;
  bottom: 0;
  width: 32px;
  height: 32px;
  margin-left: -16px;
  border: 1px solid #95989a;
  border-radius: 50%;
  outline: none;
  background: #fff;
  font-size: 12px;
  line-height: 30px;
  color: #95989a;
  text-align: center;
}
.rangeslider__handle::after {
  content: "%";
}
.rangeslider--vertical .rangeslider__handle {
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}
.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  display: none;
  padding: 45px 52px;
  background: rgba(0, 0, 0, 0.3);
}
.popup--success {
  padding: 0;
  text-align: center;
}
.popup--active {
  display: block;
}
.popup__inner {
  position: relative;
  height: 100%;
  border: 1px solid #95989a;
  background: #fff;
}
.popup--success .popup__inner {
  padding: 170px 240px 0;
  border: 0;
}
.popup__close {
  position: absolute;
  top: -23px;
  right: -18px;
  z-index: 100;
  padding: 0;
  border: 0;
  background: none;
}
.popup__close svg {
  display: block;
}
.popup__content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.popup__content img {
  position: absolute;
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  max-width: none;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
}
.popup__comment {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 12px;
  background: rgba(0, 0, 0, 0.31);
  color: #fff;
}
.popup__comment-date {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 19px;
}
.popup__comment-message {
  font-size: 18px;
  line-height: 23px;
}
.popup__comment-message p {
  margin: 0;
}
.popup__success-message {
  margin-bottom: 45px;
  font-size: 26px;
  line-height: 33px;
  color: #232323;
}
.popup__car-mark,
.popup__car-number {
  text-transform: uppercase;
}
.popup__success-recommendation {
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 26px;
  color: #a7a7a7;
}
.popup__btn {
  max-width: 300px;
  font-size: 20px;
}
