.car-inspection {
  position: relative;

  min-height: 100%;
  padding: 28px 30px 0;

  text-align: center;
}

.car-inspection__driver {
  margin-top: 73px;
}

.car-inspection__title {
  margin: 0 0 14px;

  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
  color: #232323;
}

.car-inspection__descr {
  margin-top: 19px;
  margin-bottom: 82px;

  font-size: 20px;
  line-height: 26px;
  color: #9b9b9b;
  p {
    margin: 0;
  }
}

.car-inspection__complect-descr {
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 23px;
  color: #232323;
  p {
    margin: 0;
  }
}

.car-inspection__count {
  display: flex;
  margin-bottom: 40px;

  font-size: 18px;
  line-height: 23px;
  color: #9b9b9b;

  justify-content: center;
  align-items: center;
  &--small {
    margin-bottom: 13px;
  }
}

.car-inspection__photo {
  position: relative;

  display: block;
  width: 700px;
  margin: 0 auto;

  border: 1px solid #95989a;

  color: #232323;
  text-align: center;
  text-decoration: none;
  &--link {
    height: 360px;
    padding-top: 66px;

    background: url(/img/camera/icon-camera.svg) no-repeat 50% 50%;
    background-size: 432px auto;

    font-size: 26px;
    line-height: 33px;
  }
  &--link-small {
    width: 430px;
    height: 218px;
    margin-bottom: 87px ;
    padding-top: 87px;

    background-size: auto 187px;

    font-size: 18px;
    line-height: 23px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.car-inspection__nophoto {
  margin-bottom: 45px;

  font-size: 20px;
  line-height: 26px;
}

.car-inspection__comment {
  position: absolute;
  right: 1px;
  bottom: 0;
  left: 1px;

  padding: 12px;
  overflow: hidden;

  background: rgba(0,0,0,.31);

  color: #fff;
  text-align: left;
}

.car-inspection__comment-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: -10px;

  background-repeat: no-repeat;
  background-position: left 10px bottom 10px;

  filter: blur(8px);
}

.car-inspection__comment-date {
  position: relative;
  z-index: 10;

  margin-bottom: 8px;

  font-size: 14px;
  line-height: 19px;
  time {
    font-style: normal;
  }
}

.car-inspection__comment-message {
  position: relative;
  z-index: 10;

  font-size: 18px;
  line-height: 23px;
  p {
    margin: 0;
  }
}

.car-inspection__form {
  margin-left: 275px;
}

.car-inspection__complection {
  display: flex;

  text-align: left;
}

.car-inspection__left {
  padding-top: 10px;
  padding-right: 60px;
  padding-bottom: 10px;

  border-right: 1px solid #95989a;
}

.car-inspection__right {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
}

.car-inspection__label {
  display: block;
  margin-bottom: 20px;

  font-size: 20px;
  line-height: 26px;
  color: #95989a;
  &:last-child {
    margin-bottom: 0;
  }
}

.car-inspection__input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  &:checked {
    & + span {
      color: #0084a6;

      transition: .5s;
    }
  }
}

.car-inspection__photo-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  li {
    position: relative;

    width: 185px;
    height: 95px;
    margin-right: 40px;
    margin-bottom: 23px;
    overflow: hidden;

    border: 1px solid #95989a;
    &:nth-child(4n) {
      margin-right: 0;
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    max-width: none;
  }
  a {
    display: block;

    color: inherit;
    text-decoration: none;
  }
}

.car-inspection__photo-date {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  padding: 6px 5px 7px;

  background: rgba(0,0,0,.6);

  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
